<!DOCTYPE html>
<html lang="pt-BR">

<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header') %>
    
    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Olá! Sou Samuel Serra, estudante de programação, atualmente dev web Front-End</p>
        </div>
    </main>

    <%- include('../partials/footer') %> 
</body>

</html>